<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="128">
        <setting label="29911" type="text"   id="email"    enable="true"                 default=""/>
        <setting label="733"   type="text"   id="password" hidden="true"  enable="true"  default=""/>
    </category>
</settings>
